.home-about {
  padding: 0% 0;
  max-width: 100%;
  margin: 0 auto;
}

.columns {
  display: flex;
}

.col + .col {
  margin-left: 5em;
}

.section-description p {
  font-size: 1.3vw;
}

.col h3 {
  font-size: 1.5vw;
}

.col p {
  font-size: 1.3vw;
}
