.about {
  padding: 0% 0;
  max-width: 100%;
  margin: 0% 0;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
  margin-bottom: 20px;
}

.about-centered-text {
  text-align: center;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col + .col {
  margin-left: 5vw;
}

.section-description p {
  font-size: 1.1rem;
}

.about h2 {
  font-size: 2rem;
  color: #d3c9c9;
}

.about h3 {
  font-size: 1.5rem;
  color: #d3c9c9;
}

.col h3 {
  font-size: 1.5rem;
  color: #1ca98d;
}

.col p {
  font-size: 1rem;
  color: #d3c9c9;
}

.col {
  flex: 1;
  margin-bottom: 2vw;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .about-section {
    padding: 10% 0;
    margin-bottom: 10px;
  }

  .about h2 {
    font-size: 1.3rem;
  }

  .section-description p {
    font-size: 0.8rem;
  }
  .col h3 {
    font-size: 0.9rem;
  }

  .col p {
    font-size: 0.7rem;
  }
}
