body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#about,
#experience,
#contact {
  background-color: #fff;
  height: 36vh;
  padding: 4% 6%;
}

#skills,
#portfolio {
  background-color: #eaeae4;
  height: 36vh;
  padding: 4% 6%;
}
