main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Mulish", sans-serif;
  list-style: none;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

#about,
#experience,
#contact {
  background-color: #fff;
  height: 36vh;
  padding: 4% 6%;
  overflow: hidden;
}

#skills,
#portfolio {
  background-color: #eaeae4;
  height: 36vh;
  padding: 4% 6%;
  overflow: hidden;
}
