.experience {
  padding: 0% 0;
  max-width: 100%;
  margin: 0% 0;
}

.timeline-title h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 2.5%;
  left: 2.5%;
  color: #d3c9c9;
}

.timeline-title h3 {
  font-size: 1.5rem;
  color: #d3c9c9;
  text-align: center;
  margin-bottom: 8%;
}

.experience-section {
  display: relative;
  padding: 0% 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.timeline {
  position: relative;
  max-width: 100%;
  margin: 100px auto;
  margin-top: 5%;
}

.timeline-container {
  padding: 10px 27px;
  position: relative;
  width: 38%;
  opacity: 1;
}

.left-container {
  left: 8%;
  text-align: right;
}

.right-container {
  left: 50%;
}

.experience-section::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 91%;
  background: #d3c9c9;
  border-radius: 10px;
  top: 10%;
  left: 50%;
}

.left-container-arrow {
  height: 15px;
  width: 15px;
  position: absolute;
  background-color: #d3c9c9;
  z-index: 1;
  border-radius: 50%;
  top: 17px;
  right: -6px;
}

.right-container-arrow {
  height: 15px;
  width: 15px;
  position: absolute;
  z-index: 1;
  background-color: #d3c9c9;
  z-index: 1;
  border-radius: 50%;
  top: 16px;
  left: -6px;
}

.text-box h2 {
  font-size: 1.3rem;
  margin: 0;
  color: #1ca98d;
}

.text-box h3 {
  font-size: 1rem;
  margin: 0;
  color: #d3c9c9;
}

.text-box small {
  display: inline-block;
  margin: 0;
  color: #d3c9c9;
}

.text-box h5 {
  display: inline-block;
  font-size: 0.8rem;
  margin: 0;
  color: #d3c9c9;
}

.text-box p {
  color: #d3c9c9;
}

.highlight {
  color: #d3c9c9;
  background-color: rgba(28, 169, 141, 0.6);
}

@media (max-width: 1200px) {
  .experience-section {
    margin: 50px auto;
  }
  .experience-section::before {
    left: 3.5%;
    height: 95%;
    top: 6%;
  }
  .timeline-container {
    width: 100%;
    padding-left: 8%;
    padding-right: 0%;
    box-sizing: border-box;
  }

  .text-box {
    padding: 5% 4%;
    font-size: 0.8rem;
  }

  .text-box h3 {
    font-size: 0.8rem;
    margin: 0;
  }

  .text-box h2 {
    font-size: 0.7rem;
    margin: 0;
  }

  .text-box small {
    display: inline-block;
    font-size: 0.6rem;
  }

  .right-container {
    left: 0;
  }
  .left-container-arrow,
  .right-container-arrow,
  .dashed-line {
    display: none;
  }

  .timeline-title h2 {
    position: relative;
    left: 10%;
  }
}
