.experience {
  padding: 0% 0;
  max-width: 100%;
  margin: 0% 0;
}

.timeline-title h2 {
  font-size: 2em;
  position: relative;
  left: 2.5%;
}

.experience-section {
  display: relative;
  padding: 0% 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.timeline {
  position: relative;
  max-width: 100%;
  margin: 100px auto;
  margin-top: 4%;
}

.timeline-container {
  padding: 10px 27px;
  position: relative;
  width: 45.7%;
  opacity: 1;
}

.text-box {
  padding: 10px 10px;
  background: #fff;
  font-size: 0.75rem;
  margin-bottom: -3%;
}

.text-box h3 {
  font-size: 1rem;
  margin: 0;
}

.text-box h2 {
  font-size: 0.85rem;
  margin: 0;
}

.text-box small {
  display: inline-block;
  margin: 0;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.experience-section::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 95%;
  top: 30%;
  background: #fff;
  border-radius: 10px;
  top: 8%;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

.left-container-arrow {
  height: 0px;
  width: 0;
  position: absolute;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 21px solid #fff;
  top: 40px;
  right: 6px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 21px solid #fff;
  top: 40px;
  left: 6px;
}

.dashed-line {
  height: 0;
  margin: 20px 0;
  border-top: 4px dashed #ccc;
}

@media (max-width: 1200px) {
  .experience-section {
    margin: 50px auto;
  }
  .experience-section::before {
    left: 3.5%;
    height: 95%;
    top: 6%;
  }
  .timeline-container {
    width: 100%;
    padding-left: 8%;
    padding-right: 0%;
    box-sizing: border-box;
  }

  .text-box {
    padding: 5% 4%;
    font-size: 0.8rem;
  }

  .text-box h3 {
    font-size: 0.8rem;
    margin: 0;
  }

  .text-box h2 {
    font-size: 0.7rem;
    margin: 0;
  }

  .text-box small {
    display: inline-block;
    font-size: 0.6rem;
  }

  .right-container {
    left: 0;
  }
  .left-container-arrow,
  .right-container-arrow,
  .dashed-line {
    display: none;
  }

  .timeline-title h2 {
    position: relative;
    left: 10%;
  }
}