.home {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
}

.animated-text {
  font-size: 2.5rem;
  font-weight: 600;
  min-width: 100%;
  height: 20%;
  position: relative;
  right: 11%;
  text-align: center;
}

.animated-text span {
  position: absolute;
}

.animated-text span::before {
  content: "text";
  color: #ff7f50;
  animation: words 12s infinite;
}

.animated-text span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #6b6c6a;
  border-left: 2px solid #ff7f50;
  right: -8px;
  animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,
  33% {
    content: "welcome to my portfolio";
  }
  34%,
  66.66% {
    content: "driven by passion";
  }
  67%,
  100% {
    content: "empowered by learning";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

@media (max-width: 768px) {
  .animated-text {
    font-size: 1rem;
    right: 20%;
  }

  .animated-text span {
    margin: 0 8px;
    white-space: nowrap;
  }
}
