header {
  --text: #f3f2f2;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  font-size: 0.75rem;
  top: 0;
  left: 10%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  height: 25px;
  width: 80%;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.name {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--text);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0 4%;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

.navlist,
.social-media {
  list-style: none;
  display: flex;
}

.navlist {
  padding-left: 0;
  padding-right: 0;
}

#menu-icon {
  cursor: pointer;
  color: var(--text);
  font-size: 1.4rem;
  z-index: 10001;
  display: none;
}

.nav-menu {
  margin-right: 2%;
}

.navlist a {
  position: relative;
  margin: 0 0%;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--text);
  --spacing: 0.6em;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

.navlist a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--spacing);
  right: var(--spacing);
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
}

.navlist a:hover::after {
  transform: scaleX(1);
}

.navlink-btn {
  transition: background 250ms ease-in-out;
}

.separator {
  padding-right: 120px;
}

.navlink-btn:hover {
  background: var(--text);
  color: var(--text-inverse);
  border-color: var(--text);
}

.navlink-btn::after {
  display: none;
}

.github {
  background: #1ca98d;
  border-color: #15866f;
  color: #333;
}

.github:hover {
  background: var(--text);
  border-color: var(--text);
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f3f2f2;
  --background: #f3f2f2;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

#social-media-icon {
  display: none;
}

@media (max-width: 1200px) {
  #menu-icon,
  #social-media-icon {
    display: block;
  }

  .social-media-icons {
    display: flex;
    flex-direction: row;
  }

  .navlist {
    position: absolute;
    top: 70%;
    right: -100%;
    max-width: 25vw;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    transition: all 0.55s ease;
  }

  .navlist .navlink-btn:nth-child(-n + 3) {
    display: none !important;
  }

  .navlist a {
    margin-left: 0;
    display: block;
    margin: 5px 0;
    color: #f4f4f4 !important;
  }

  .navlist.open {
    right: 0;
  }

  .header {
    font-size: 0.6rem;
    padding: 0.5% 0;
  }

  .name {
    font-size: 0.75rem;
  }
}
