/* Portfolio Section Styling */
.portfolio {
  padding: 6% 0;
  max-width: 100%;
  margin: 0 auto;
}

h2,
h3 {
  text-align: center;
  color: var(--secondary-white);
}

h2 {
  font-size: 2em;
  padding-top: 0%;
  padding-bottom: 4%;
}

.show-container {
  padding: 1px 30px;
  border-radius: 10px 10px 10px 10px;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(140, 143, 140, 0.8);
  max-width: fit-content;
  margin: 8% auto;
}

h3 {
  font-size: 1.5rem;
  transition: transform 0.5s ease;
}

h3:hover {
  transform: scale(1.1);
}

p {
  padding: 0% 2%;
  color: #f3f2f2;
}

.word {
  font-size: 0.8rem;
  color: white;
  display: flex;
  gap: 0.7rem;
}

.word-box {
  display: flex;
  background-color: transparent;
  padding: 0.5rem 0.5rem;
  margin-bottom: 4%;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 5px rgba(140, 143, 140, 0.8);
}

/* Container Styling */
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4%;
  max-width: 95%;
  margin: 0 auto;
}

.portfolio-box {
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(140, 143, 140, 0.8);
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.portfolio-content {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.portfolio-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: opacity 0.5s ease;
}

.portfolio-box:hover img {
  opacity: 0;
}

/* Layer Styling */
.portfolio-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0%);
}

/* Title Styling */
.project-title {
  background-color: transparent;
  color: white;
  text-align: center;
  flex-shrink: 0;
  font-size: 1.1rem;
}

/* Divider Styling */
.divider {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--main-grey);
  margin: 0px auto;
}

/* Code Span Styling */
.code {
  transition: color 0.3s ease-out, font-weight 0.3s ease-out;
}

.project-title:hover .code {
  color: var(--main-green) !important;
  font-weight: 800;
}

/* Social Media Icons Styling */
.portfolio-social-media {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.portfolio-layer a i {
  font-size: 1em;
  color: var(--secondary-white);
  margin-right: 10px;
  background: var(--main-green);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.portfolio-layer a,
.show-container a,
.project-title a {
  text-decoration: none;
  color: #f3f2f2;
}

/* Media Queries */
@media (max-width: 700px) {
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}
