/* Scroll down link */
.scroll-down-link {
  position: absolute;
  margin-top: 15%;
  right: 2%;
  max-height: 90%;
  min-height: 10%;
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.8rem;
  transform-origin: left top;
  white-space: nowrap;
  animation: moveDown 3s infinite alternate;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

@keyframes moveDown {
  0% {
    top: 60%;
  }
  50% {
    top: 59%;
  }
  100% {
    top: 60%;
  }
}

.scroll-down-link:hover {
  text-shadow: 0 0 5px #f4f4f4;
}

.scroll-down-link.hidden {
  opacity: 0;
  visibility: hidden;
}

.scroll-down-link.clicked {
  opacity: 0;
  visibility: hidden;
}

/* Scroll up link */
.scroll-up-link {
  position: fixed;
  margin-top: 16%;
  right: 2%;
  max-height: 90%;
  min-height: 10%;
  color: #137b66;
  text-decoration: none;
  font-size: 1.8rem;
  transform-origin: left top;
  white-space: nowrap;
  animation: moveUp 3s infinite alternate;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

@keyframes moveUp {
  0% {
    top: 60%;
  }
  50% {
    top: 59%;
  }
  100% {
    top: 60%;
  }
}

.scroll-up-link:hover {
  text-shadow: 0 0 5px #333;
}

.scroll-up-link.hidden {
  opacity: 0;
  visibility: hidden;
}

.scroll-up-link.clicked {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1000px) {
  .scroll-down-link {
    position: absolute;
    margin-top: 45%;
    right: 2%;
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .scroll-down-link {
    position: absolute;
    margin-top: 60%;
    right: 2%;
    font-size: 1.2rem;
  }
}
