/* Scroll down link styles */
.scroll-down-link {
  position: absolute;
  top: 600px;
  right: -90px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transform: rotate(90deg);
  transform-origin: left top;
  white-space: nowrap;
  animation: moveDown 3s infinite alternate; 
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

@keyframes moveDown {
  0% {
    top: 600px;
  }
  50% {
    top: 590px;
  }
  100% {
    top: 600px;
  }
}

.scroll-down-link:hover {
  text-shadow: 0 0 5px white;
}

.scroll-down-link.hidden {
  opacity: 0;
  visibility: hidden;
}

.scroll-down-link.clicked {
  opacity: 0;
  visibility: hidden;
}

.scroll-up-link {
  position: fixed;
  margin-top: 150px;
  right: -40px; 
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  transform: rotate(-90deg);
  transform-origin: left top;
  white-space: nowrap;
  animation: moveUp 3s infinite alternate;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

@keyframes moveUp {
  0% {
    top: 600px;
  }
  50% {
    top: 590px; 
  }
  100% {
    top: 600px;
  }
}

.scroll-up-link:hover {
  text-shadow: 0 0 5px #333; 
}

.scroll-up-link.hidden {
  opacity: 0;
  visibility: hidden;
}

.scroll-up-link.clicked {
  opacity: 0;
  visibility: hidden;
}
