.skill-container {
  padding: 0% 0;
}

.skills h2 {
  font-size: 2rem;
}

.column-title h3 {
  font-size: 1.5rem;
}

.skill-type h5 {
  margin: 0 10px 0 0;
  font-size: 1.1rem;
  min-width: 100px;
}

.column-description p {
  font-size: 1.1rem;
}

.column-description {
  margin-bottom: 40px;
}

.skill-section-description p {
  font-size: 1.1rem;
}

.skill-section-description {
  margin-bottom: 60px;
}

.skill-centered-text {
  text-align: center;
}

.columns-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-column,
.right-column {
  width: 45%;
  box-sizing: border-box;
  margin: 0;
}

.skill-type {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.bar {
  position: absolute;
  top: 0;
  left: 120px;
  height: 25px;
  background: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  width: calc(95% - 110px);
}

.bar span {
  position: relative;
  display: block;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
  width: 0;
  transition: width 2.5s ease-in-out;
}

.bar span::after {
  content: attr(data-width);
  position: absolute;
  transform: translateY(-50%);
  font-size: 0.7rem;
  top: 50%;
  right: 1%;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .left-column,
  .right-column {
    width: 100%;
  }

  .bar {
    left: 0;
    width: 100%;
  }
}